.bgmusic{
    width: 100px;
    z-index: 999;
    position:fixed;
    top:80px ;
    left: 800px;
    animation: r 3s 0s linear infinite; /*处理这个动画：名称  转一周需要的时间  延迟时间  linear是线性动画  infinite是循环*/
}
/*  .play{
      animation: r 3s 0s linear infinite;
  }*/
/*创建一个关键帧动画，名字叫r ，从0度到360度*/
@keyframes r {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}