body{
    padding: 0;;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
body, html{
    height: 100%;
}
.wrap{
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.header{
    position: absolute;
    display: flex;
    height: 100px;
    width: 100%;
    background: #00b3ee;
    align-items: center;
    justify-content: space-between;
}
.header img{
    height: 80px;
    width: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-self: flex-start;
}
.header .item1{
    padding-left: 20px;
}
.header .item2{
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    background: #ffffff;
}
.header .item3{
    height: 80px;
    width: 100px;
    font-size: 60px;
    text-align: center;
    margin-right: 20px;
    background: #ffffff;

}

.main ul{
    list-style: none;
}
.main ul li{
    height: 100px;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #ccc;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}
.main ul li img{
    height: 90px;
    width: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}
.footer{
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 0;
    display: flex;
    height: 100px;
    width: 100%;
    background: #f5f5f5;
    justify-content: space-between;
}
.footer .item{

    height: 80px;
    line-height: 80px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    background: #ffffff;
}
.footer .a{
    margin-left: 20px;
}
.footer .b{
    margin-right: 20px;
}